.fa-spinner {
    font-size: 10pt;
}

.fa-spinner.block {
    display: block;
    font-size: 14pt;
    margin: 0 auto;
}

.muscles-list.row div[class*='col-'] {
    display: flex;
}

.muscles-list .card {
    cursor: pointer;
}

.muscles-list .card:hover {
    background-color: #e9ecef;
}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
    flex-grow: 100;
}

.card h2 {
    font-size: 18pt;
    text-align: center;
}

.card h3 {
    font-size: 12pt;
    text-align: center;
}